SOAR/CAValidation/Playbook/deployplaybook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "PB003-Playbook-Conditionalaccesspolicychanges",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "Connection-Sentinel-Conditionalaccesspolicychanges",
        "AzureOffice365ConnectionName": "Connection-Office365-Conditionalaccesspolicychanges"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureOffice365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "Office365Connection",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/office365')]"
                }
            }
        },

        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "SentinelConnection",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },

        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureOffice365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "ReceiverEmail": {
                            "defaultValue": "demo@demo.at;demo2;demo.at",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(timeout)": {
                            "runAfter": {
                                "Send_information_to_operationsteam": [
                                    "TimedOut"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                    "message": "<p><u><strong>Dear SOC Team,</strong></u><br>\nthe requestor '@{parameters('ReceiverEmail')}' <strong>doesn't react</strong> to the message. <br>\nPlease escalate the changes once more.<br>\n<strong>Regards,<br>\n Operations Team</strong></p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                            }
                        },
                        "Check_outlook_response": {
                            "actions": {
                                "Add_comment_to_incident_(planned)": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
											"message": "<p><u><strong>Dear SOC Team,</strong></u><br>\nthe change in the Azure conditional access policy '@{triggerBody()?['Entities']?[1]?['Url']}' <span style=\"color: rgb(255,255,255); background-color: rgb(65,168,95)\"><strong>was planned</strong></span><span style=\"color: rgb(255,255,255); background-color: rgb(65,168,95)\">.</span><br>\n<strong>Regards,<br>\n Operations Team</strong></p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                }
                            },
                            "runAfter": {
                                "Send_information_to_operationsteam": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Add_comment_to_incident_(not_planned)": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
												"message": "<p><u><strong>Dear SOC Team,</strong></u><br>\nthe change in the Azure conditional access policy '@{triggerBody()?['Entities']?[1]?['Url']}' <span style=\"background-color: rgb(184,49,47); color: rgb(255,255,255)\"><strong>wasn't planned.</strong></span><span style=\"background-color: rgb(184,49,47); color: rgb(255,255,255)\"> </span><br>\nPlease investigate for more details.<br>\n<strong>Regards,<br>\n Operations Team</strong></p>"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Incidents/Comment"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Send_information_to_operationsteam')?['SelectedOption']",
                                            "Planned"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Send_information_to_operationsteam": {
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "limit": {
                                "timeout": "P1D"
                            },
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "Message": {
										"Body": "Dear Team,\nthe conditional access policy '<b>@{triggerBody()?['Entities']?[1]?['Url']}</b>' - '@{triggerBody()?['Entities']?[2]?['Url']}' was initiated by user '@{triggerBody()?['Entities']?[0]?['DisplayName']}'.\n\n\n<p><b>Timestamp [UTC]:</b> @{body('Alert_-_Get_incident')?['properties']?['createdTimeUtc']}</br>\n<b>Incident Id:</b> @{body('Alert_-_Get_incident')?['properties']?['incidentNumber']}</br>\n<b>Incident Url: </b><a href=\"@{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}\">@{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}</a></p>\n\nAre the changes planned?</br></br>\nRegards,</br>\n<b>Azure Sentinel Team</b>",
                                        "HideHTMLMessage": false,
                                        "Importance": "High",
                                        "Options": "Planned, Not planned",
                                        "SelectionText": "Please define the action:",
                                        "ShowHTMLConfirmationDialog": false,
                                        "Subject": "Conditional Access policy changed",
                                        "To": "@parameters('ReceiverEmail')",
                                        "UseOnlyHTMLMessage": true
                                    },
                                    "NotificationUrl": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "path": "/approvalmail/$subscriptions"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureOffice365ConnectionName'))]",
                                "connectionName": "[variables('AzureOffice365ConnectionName')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId,'/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}
